<div class="container">
  <div class="card text-center bg-light mb-12 mt-5">
    <div class="card-header">تسجيل الدخول</div>
    <div class="card-body">
      <form dir="rtl">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">اسم الحساب</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" [(ngModel)]="userdetailes.email" name="userdetailes.email" id="inputEmail3" placeholder="اسم الحساب">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label float-right">كلمة المرور</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" [(ngModel)]="userdetailes.password" name="userdetailes.password" id="inputPassword3" placeholder="كلمة المرور">
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="button" (click)="loginUser()" class="btn btn-primary">دخول</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>